setuptools~=50.3.0
twine~=3.2.0
wheel~=0.38.0
coverage~=5.3
flake8~=3.8.4
sphinx~=3.3.0
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability