certifi==2023.5.7 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
charset-normalizer==3.1.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Windows"
configparser==4.0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
et-xmlfile==1.1.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
hexdump==3.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
more-itertools==5.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
netaddr==0.8.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
openpyxl==3.1.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pyparsing==2.4.7 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
python-evtx==0.7.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
requests==2.31.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
tqdm==4.65.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
urllib3==2.0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
zipp==1.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
